# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

### OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.log

# dependencies
node_modules

# Project folders
dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache-loader
